
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    color: black;
    background-color: rgb(238, 238, 238);
    margin: 0 auto;
}

.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}



/* Header */
header{
    background-color: #ED2F2F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
}

.logo {
    width: 70px;
}

.menu {
    display: inline-block;
    padding: 10px;
}

.menu1 {
    text-decoration: none;
    color: black;
}

.menu1:hover {
    color: white;
}

.prin {
    position: relative;
    right: 200px;
}

.principio {
background-color: #F8CCCC;
height: 200px;
padding-top: 60px;
}

.carrito {
    width: 30%;
    height: 280px;
    position: relative;
    bottom: 215px;
    left: 800px;
   
}

.textprin {
    text-align: center;
    font-size: large;
    position: relative;
    left: 500px;
    bottom: 20px;
    font-weight: lighter;
    width: 500px;
}

h3 {
    position: relative;
    left: 25px;
}

.ofertas{
    background-color: #F8CCCC;
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 10px;
}

.ofer {
    font-weight: lighter;
    width: 300px;
    position: relative;
    left: 650px;
}

.tit {
    width: 300px;
    position: relative;
    left: 650px;
}

.ver {
    font-size: x-small;
    color: black;
    position: relative;
    bottom: 210px;
    left: 669px;
}

.tele {
width: 50%;
height: 350px;
position: relative;
bottom: 30px;
}

h6 {
    position: relative;
    left: 300px;
    top: 120px;
    font-size: large;
    text-align: center;
}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}


/* Main */

.contenido {
    padding-left: 100px;
    padding-right: 100px;
    
    
}
.container-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.item{
    border-radius: 10px;
    margin: 20px;
    width: 100%;
    background-color: white;
    height: 380px;
}


.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    width: 100%;
    display: block;
    padding: auto;
    overflow: hidden;
    text-align: center;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
    height: 80px;
}

h2 {
    font-size: 12px;
    height: 80px;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

button {
    width: 100%;
    height: 50px;
}

h5 {
    font-size: 10px;
}




.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
   
    bottom: 0;
    width: 100%;
	background-color: #F8CCCC;
    padding: 20px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
    font-size: large;
	color: rgb(43, 41, 41);
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: rgb(43, 41, 41);
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgb(43, 41, 41);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #363636;
	background-color: #ffffff;
}
  
@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10 px 0px;
    }
}
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }

